/* Global Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Poppins for body font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', monospace; /* Roboto for code */
}

/* Carousel Section */
.carousel-section {
  margin-top: 40px;
}

.carousel-image {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-image::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}
.carousel-caption {
  position: relative;
  z-index: 2;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: 600; /* Semi-bold for the heading */
}

.carousel-caption p {
  font-size: 1.25rem;
  margin-top: 10px;
}

